.aboutcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
  color: var(--font-color);

  .about-box {
    max-width: 1300px;



    .heading {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }

    .heading1 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 40px;
      flex-wrap: wrap;

      .main {
        display: grid;
        grid-template-areas: auto auto;
        width: 50%;
        gap: 20px;
        padding: 10px;
        flex-wrap: wrap;

        b {
          color: var(--primary);
        }

        h2 {
          color: var(--grey);
          font-size: 18px;
          font-weight: 600;
        }

        h1 {
          color: var(--font-color);
          font-size: 36px;
          font-weight: 600;
        }

        p {
          font-size: 18px;
          color: var(--grey);
          line-height: 30px;
        }

        h3 {
          font-size: 24px;
        }
      }

      .btn {
        background-color: var(--primary);
        color: var(--white);
        padding: 15px 30px;
      }


      @media screen and (max-width: 1240px) {
        .content {
          width: 100%;

        }

        .image {
          margin-top: 30px;

          .img1 {
            width: 100%;
            height: 100%;
          }
        }
      }
    }




    .content {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      // padding: 30px;
      margin-right: 0px;
      display: flex;
      justify-content: space-around !important;
      text-align: justify !important;
      align-items: center;
      // text-align: center!important;
      width: 100%;
      padding: 0px !important;
      margin-right: 80px !important;
      margin-left: -10px !important;


      .Author-box {
        p {
          text-indent: 100px;
        }
        img {
          border-radius: 30px;
        }
      }

      .member-box {
        p {
          text-indent: 100px;
        }
        img {
          border-radius: 30px;
        }
      }


      .header {
        bottom: -50px;
      }

      h2 {
        color: var(--font-color);
        font-size: 36px;
        margin-left: -650px;
        margin-top: 50px;
        margin-bottom: -80px;
      }


      .point {
        display: flex;

        .photo {
          width: 80%;
          height: 350px;
          border-radius: 30px;
          margin-left: 50px;
        }

        p {
          text-indent: 100px;
          width: 100%;
          margin-top: 70px;
        }

      }

      p {
        color: var(--grey);
        font-size: 18px;
        line-height: 30px;
      }

    }

    .point2 {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      span {
        font-size: 17px;
        line-height: 30px;
        color: var(--grey);

        b {
          margin-right: 10px;
          font-size: 14px;
        }
      }
    }
  }
}





@media screen and (max-width: 900px) {
  .content {

    .point {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;



      h1 {
        margin-left: 50px;
        width: 100%;

      }

      p {
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }
  }
}

@media screen and (max-width: 700px) {
  .content {

    h2 {
      margin-left: -180px !important;
      margin-top: 0 !important;
    }



    .point {
      width: 100%;
      display: flex !important;
      align-items: center !important;
      justify-content: center;
      flex-direction: column-reverse;

      .photo {
        margin-top: 50px;
        margin-right: 100px !important;
        width: 100% !important;
        height: 300px !important;
        margin-left: 8px !important;

      }






      p {
        display: flex;
        justify-content: space-around !important;
        text-align: justify !important;
        align-items: center;
        // text-align: center!important;
        margin-bottom: 0px!important;
        width: 70%;
        padding: 0 !important;
        margin-right: 80px !important;
        margin-left: -10px !important;

      }
    }

    .Author-box {

      span {
        padding: 10px;
      }
      p {
        margin-left: 10px;
      }
    }

    .member-box {

      span {
        padding: 10px;
      }
      p {
        margin-left: 10px;
      }
    }
  }
}

.author {
  margin-top: 30px;

  .Author-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 26px;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: 0 -30px;
    }

    span {
      color: var(--primary);
    }
  }
}

.member {
  margin-top: 30px;

  .member-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 26px;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: 0 -30px;
    }

    span {
      color: var(--primary);
    }
  }
}