.aboutcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
  color: var(--font-color);

  .about-box {
    max-width: 1300px;



    .heading {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }

    .heading1 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 40px;
      flex-wrap: wrap;

      .main {
        display: grid;
        grid-template-areas: auto auto;
        width: 50%;
        gap: 20px;
        padding: 10px;
        flex-wrap: wrap;

        b {
          color: var(--primary);
        }

        h2 {
          color: var(--grey);
          font-size: 18px;
          font-weight: 600;
        }

        h1 {
          color: var(--font-color);
          font-size: 36px;
          font-weight: 600;
        }

        p {
          font-size: 18px;
          color: var(--grey);
          line-height: 30px;
        }

        h3 {
          font-size: 24px;
        }
      }

      .btn {
        background-color: var(--primary);
        color: var(--white);
        padding: 15px 30px;
      }


      @media screen and (max-width: 1240px) {
        .content {
          width: 100%;
          
        }

        .image {
          margin-top: 30px;

          .img1 {
            width: 100%;
            height: 100%;
          }
        }
      }
    }




    .content {
      padding: 50px 20px;
      width: 100%;

      .header {
        bottom : -50px;
      }

      h1 {
        color: var(--font-color);
        font-size: 36px;
        margin-bottom: -60px;
      }


      .point {
        // display: grid;
        // grid-template-areas: auto auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        // flex-direction: row-reverse;

        p {
          width: 70%;
        }

        .image {
          .img1 {
            display: flex;
            width: 500px;
            height: 500px;
            object-fit: contain;
          }
        }
      }

      

      p {
        color: var(--grey);
        font-size: 18px;
        line-height: 30px;
      }

    }

    .point2 {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      span {
        font-size: 17px;
        line-height: 30px;
        color: var(--grey);

        b {
          margin-right: 10px;
          font-size: 14px;
        }
      }
    }


  }
}



@media screen and (max-width: 900px) {
 .content { 
  
  .point {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

  .image {
    width: 80%;
    
  }
  h1 {
    margin-left: 50px;
    width: 100%;
    
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
 }
}
}
@media screen and (max-width: 700px) {
  .content { 

    h1{
      margin-left: 100px;
    }

    p{
      margin-left: 50px;
    }

    width: 100%;
   .point {
     width: 100%;
     display: flex!important;
     align-items: center!important;
     justify-content: center;
     flex-direction: column-reverse;

    
   .image {
     width: 80%;
   }
  
   p {
     display: flex;
     align-items: center;
     margin-left: 50px;
     justify-content: center;
    
   }
  }
 }
 }

.author {
  margin-top: 30px;

  .Author-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 26px;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: 0 -30px;
    }

    span {
      color: var(--primary);
    }
  }
}

.member {
  margin-top: 30px;

  .member-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 26px;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: 0 -30px;
    }

    span {
      color: var(--primary);
    }
  }
}



